force-app/main/default/flows/Create_Multiple_Donates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Donate_s_Fields</name>
        <label>Assign Donate&apos;s Fields</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varDonate.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Donates.Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDonate.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Donates.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDonate.Donate_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Donates.Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDonate.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choose_Contact.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDonate.Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choose_Campaign.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDonate.Program_Budget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choose_Budget.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDonate.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaDonateName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Donate_To_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Donate_To_List</name>
        <label>Assign Donate To List</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varDonates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varDonate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Donates</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Paid</name>
        <choiceText>Paid</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Paid</stringValue>
        </value>
    </choices>
    <choices>
        <name>Planned</name>
        <choiceText>Planned</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Planned</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <formulas>
        <name>formulaDonateName</name>
        <dataType>String</dataType>
        <expression>{!Choose_Contact.recordName} + &apos; - &apos; +  TEXT({!varDonate.Donate_Date__c})</expression>
    </formulas>
    <interviewLabel>Create Multiple Donates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Multiple Donates</label>
    <loops>
        <name>Loop_Donates</name>
        <label>Loop Donates</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Donates.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Donate_s_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Donates</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Donates</name>
        <label>Create Donates</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <inputReference>varDonates</inputReference>
    </recordCreates>
    <screens>
        <name>Create_Multiple_Donates</name>
        <label>Create Multiple Donates</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Donates</targetReference>
        </connector>
        <fields>
            <name>Choose_Contact</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Donate__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <stringValue>recordId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Choose_Budget</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Donate__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Program Budget</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Program_Budget__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Choose_Campaign</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Donate__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Campaign</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Campaign__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Donates</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Amount</name>
                <dataType>Number</dataType>
                <fieldText>Amount</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>true</isRequired>
                <scale>0</scale>
            </fields>
            <fields>
                <name>Date</name>
                <dataType>Date</dataType>
                <defaultValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </defaultValue>
                <fieldText>Date</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>Status</name>
                <choiceReferences>Planned</choiceReferences>
                <choiceReferences>Paid</choiceReferences>
                <dataType>String</dataType>
                <defaultSelectedChoiceReference>Paid</defaultSelectedChoiceReference>
                <fieldText>Status</fieldText>
                <fieldType>DropdownBox</fieldType>
                <isRequired>true</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Multiple_Donates</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varDonate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Donate__c</objectType>
    </variables>
    <variables>
        <name>varDonates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Donate__c</objectType>
    </variables>
</Flow>
